<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title>Delete ContractDetail</title>
</head>
<body>

<div th:replace="layout :: title"> </div>
<div th:replace="layout :: columnLeft"> </div>


<div class="column middle">
    <a href="/menu" style="color: black">Back to Menu</a>
    <a href="/contractDetails" style="color: black">List ContractDetail</a>
    <h1>Delete ContractDetail</h1>
    <h2>Are you sure?</h2>

    <form th:action="@{/deleteContractDetail}" th:object="${contractDetail}" method="post">
        <input th:type="hidden" name="id" th:field="*{id}">
        <table>
            <tr>
                <td>Id:</td>
                <td th:text="*{id}"></td>
            </tr>
            <tr>
                <td>Contract Begin Date:</td>
                <td th:text="*{contract.beginDate}"></td>
            </tr>
            <tr>
                <td>Accompany Name:</td>
                <td th:text="*{accompany.name}"></td>
            </tr>
            <tr>
                <td>Quantity:</td>
                <td th:text="*{quantity}"></td>
            </tr>

            <tr>
                <td><input type="submit" value="Delete ContractDetail"></td>
            </tr>
        </table>
    </form>
</div>
<div th:replace="layout :: columnRight"> </div>

</body>
</html>