
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <Title>Menu</Title>
</head>
<body>
<div class="header">
    <h1>Website Quản Trị Mạng</h1>
    <p>Kiến thức - Kinh nghiệm - Hỏi đáp</p>
</div>
<div class="topnav">
    <a href="#">Làng Công nghệ</a>
    <a href="#">Công nghệ</a>
    <a href="#">Cuộc sống</a>
    <a href="#" style="float:right">Đăng ký</a>
    <a href="#" style="float:right">Đăng nhập</a>
</div>

<div class="row">
    <div class="column.side">
        <table>
            <tr>
                <th>Section 1</th>
            </tr>
            <tr>
                <th>Section 1</th>
            </tr>
            <tr>
                <th>Section 1</th>
            </tr>
            <tr>
                <th>Section 1</th>
            </tr>
            <tr>
                <th>Section 1</th>
            </tr>
            <tr>
                <th>Section 1</th>
            </tr>
            <tr>
                <th>Section 1</th>
            </tr>
        </table>
    </div>
    <div class="column.middle">
        <div class="card">
            <h2>Giới thiệu</h2>
            <div class="fakeimg" style="height:100px;">Ảnh</div>
            <p>Quantrimang.com là mạng xã hội về khoa học công nghệ.</p>
        </div>
        <div class="card">
            <h3>Nổi bật</h3>
            <div class="fakeimg"><p>Ảnh</p></div>
            <div class="fakeimg"><p>Ảnh</p></div>
            <div class="fakeimg"><p>Ảnh</p></div>
        </div>
        <div class="card">
            <h3>Follow Me</h3>
            <p>Facebook</p>
            <p>YouTube</p>
        </div>
    </div>
</div>
    <div class="row">
        <div class="column.side">
            <table>
                <tr>
                    <th>Section 1</th>
                </tr>
                <tr>
                    <th>Section 1</th>
                </tr>
                <tr>
                    <th>Section 1</th>
                </tr>
                <tr>
                    <th>Section 1</th>
                </tr>
                <tr>
                    <th>Section 1</th>
                </tr>
                <tr>
                    <th>Section 1</th>
                </tr>
                <tr>
                    <th>Section 1</th>
                </tr>
            </table>
        </div>


<div class="footer">
    <h4>Giấy phép số 362/GP-BTTTT. Bộ TT&TT cấp ngày 30/06/2016.</h4>
</div>

</div>

</body>
</html>


